.mywork {
    margin: 25px 130px;
    height: 140vh;
}

.mywork-heading {
    text-align: center;
}

.mywork-heading h1 {
    font-size: 45px;
    font-weight: bold;
}

.mywork-image {
    width: 100px;
    position: relative;
    top: -38px;
    left: 100px;
    z-index: -1;
}


.mywork-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.work-img {
    object-fit: contain;
    width: 100%;
}

.work {
    margin: 10px;
    transition: all 2s;
    cursor: pointer;
    border: 2px solid white;
    height: 55vh;
    text-align: center;
    border-radius:10px ;
}

.work-img {
    transition: all 0.2s;

}
.work h2{
    margin-top: 10px;
    margin-bottom: 12px;
}
.work h1{
    margin-bottom: 12px;
}
.work-img:hover {
    transform: scale(1.03);
    border: 2px solid purple;
}

.showmore {
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid white;
    width: 150px;
    border-radius: 40px;
    margin: 10px auto;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}

.showmore:hover {
    background: linear-gradient(270deg, #DA7C25 20%, #B923E1 80%);
    color: black;
    border: 1px solid black;
    font-size: 20px;

}

@media (max-width:768px) {
    .mywork {
        margin: 65px 12px;
        height: 400vh;
    }

    .mywork-container {
        display: grid;
        grid-template-columns: 1fr;

    }

    .work {
        margin: 10px;
        
        padding: 10px;
        border: 2px solid transparent;
        /* Use transparent for the border to ensure the gradient shows */
        border-image: linear-gradient(270deg, #DA7C25 20%, #B923E1 80%);
        border-image-slice: 1;
        border-radius: 10px;
        /* Ensures the gradient is applied to the full border */
    }

    .work h2 {
        /* border: 2px solid green; */
        text-align: center;
        margin-bottom: 20px;
    }

    .work h1 {
        /* border :2px solid orange; */
        margin-bottom: 20px;
        text-align: center;

    }

}